.home,
.homeInner {
  display: flex;
  box-sizing: border-box;
}

.homeInner {
  width: 87.125rem; /* Consider if this needs to be so wide, or if it should scale with % or vw units on smaller screens */
  flex-direction: row;
  justify-content: center;
  margin: auto;
  max-width: 100%;
}

.home {
  width: 100%;
  position: relative;
  background: linear-gradient(180deg, #fff, #7488ba);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 20.25rem;
  /* Adjusted the gap for a default screen size */
  gap: 2rem; /* Adjust this value to find a suitable default gap */
  letter-spacing: normal;
}

/* Adjust the gap for larger screens if necessary */
@media screen and (min-width: 750px) {
  .home {
    gap: 3rem; /* Find a balance that works for larger screens */
  }
}

@media screen and (max-width: 750px) {
  .home {
    /* Adjusted gap to reduce space as screen gets smaller */
    gap: 2rem;
  }
}

@media screen and (max-width: 450px) {
  .home {
    /* Further reduce the gap for very small screens */
    gap: 1rem;
  }
}
