.dropbox,
.paper {
  position: absolute;
  color: #9747ff;
}
.paper {
  top: 0;
  left: 0;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 6px 30px 5px rgba(0, 0, 0, 0.12),
    0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
}
.dropbox {
  border: 0;
  background-color: transparent;
  top: 4.875rem;
  left: 12.1rem;
  font-family: Roboto;
  font-size: 0.75rem;
  z-index: 1;
}

.summaryinputfield {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: 9.313rem;
  left: 3rem;
  width: 45%;
  flex-wrap: wrap;
  max-width: 100%;
  row-gap: 20px;
  z-index: 1;
  color: rgba(0, 0, 0, 0.6);
}


.summaryoutputfield {
  position: absolute;
  align-items: center;
  top: 4.125rem;
  left: 40.938rem;
  width: 45%;
  flex-wrap: wrap;
  padding: 0 0 15.125rem;
  box-sizing: border-box;
  max-width: 100%;
  row-gap: 20px;
  z-index: 1;
  color: rgba(0, 0, 0, 0.6);
}
.title,
.title1 {
  position: absolute;
  display: inline-block;
  z-index: 1;
}
.title {
  margin: 0;
  top: 1.188rem;
  left: 13rem;
  font-size: 1.5rem;
  line-height: 133.4%;
  font-weight: 400;
  font-family: inherit;
  width: 34.881rem;
  height: 2.569rem;
}
.title1 {
  top: 7.563rem;
  left: 19.875rem;
  font-size: 0.875rem;
  letter-spacing: 0.17px;
  line-height: 143%;
  width: 1.788rem;
  height: 1.738rem;
}

.checkbox,
.padding {
  display: flex;
  left: 4rem;
  flex-direction: row;
  justify-content: flex-start;
}
.padding {
  height: 2.625rem;
  width: 2.625rem;
  border-radius: 100px;
  align-items: flex-start;
  padding: 0.563rem;
  box-sizing: border-box;
}
.checkbox {
  overflow: hidden;
  align-items: center;
}
.label2 {
  position: relative;
  letter-spacing: 0.15px;
  line-height: 175%;
}
.formlabel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.formcontrollabelCheckbox,
.lengthOfSummary {
  position: absolute;
  display: flex;
  align-items: center;
}
.formcontrollabelCheckbox {
  top: 32.063rem;
  left: 14.375rem;
  height: 1.375rem;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 2.5rem 0 0;
  box-sizing: border-box;
  z-index: 1;
  font-size: 1rem;
}
.lengthOfSummary {
  top: 26.688rem;
  left: 4.875rem;
  font-size: 0.725rem;
  line-height: 0.875rem;
  font-weight: 500;
  width: 9.125rem;
  height: 1.875rem;
  z-index: 2;
}

.slidervalueLabel1 {
  border-radius: 100px;
  overflow: hidden;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.button,
.slider {
  position: absolute;
}
.slider {
  top: 28.063rem;
  left: 4.875rem;
  width: 9.125rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 2;
  text-align: center;
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.6);
}
.button {
  top: 35rem;
  left: 6rem;
  cursor: pointer;
  z-index: 1;
}
.frameChild {
  position: absolute;
  top: 0;
  left: 35.313rem;
  border-right: 1px solid #000;
  box-sizing: border-box;
  width: 0.063rem;
  height: 35.438rem;
  z-index: 2;
}

.toneOfSummary{
  display: block;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 27rem;
  left: 35%;
  width: 50%;
  flex-wrap: wrap;
  max-width: 100%;
  row-gap: 20px;
  z-index: 1;
}

.paperParent {
  height: 40.375rem;
  width: 80.625rem;
  position: relative;
  max-width: 100%;
  text-align: left;
  font-size: 0.75rem;
}
@media screen and (min-width: 500px) and (max-width: 1200px) {
  .title,
.title1 {
  position: absolute;
  display: inline-block;
  z-index: 1;
}
.title {
  margin: 0;
  top: 1.188rem;
  left: 10rem;
  font-size: 1.5rem;
  line-height: 133.4%;
  font-weight: 400;
  font-family: inherit;
  width: 34.881rem;
  height: 2.569rem;
}
.title1 {
  top: 7.563rem;
  left: 16.875rem;
  font-size: 0.875rem;
  letter-spacing: 0.17px;
  line-height: 143%;
  width: 1.788rem;
  height: 1.738rem;
}

.checkbox,
.padding {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.padding {
  height: 2.625rem;
  width: 2.625rem;
  border-radius: 100px;
  align-items: flex-start;
  padding: 0.563rem;
  box-sizing: border-box;
}
.checkbox {
  overflow: hidden;
  align-items: center;
}
.label2 {
  position: relative;
  letter-spacing: 0.15px;
  line-height: 175%;
}
.formlabel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.formcontrollabelCheckbox,
.lengthOfSummary {
  position: absolute;
  display: flex;
  align-items: center;
}
.formcontrollabelCheckbox {
  top: 32.063rem;
  left: 10.375rem;
  height: 1.375rem;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 2.5rem 0 0;
  box-sizing: border-box;
  z-index: 1;
  font-size: 1rem;
}
.lengthOfSummary {
  top: 26.688rem;
  left: 2.875rem;
  font-size: 0.725rem;
  line-height: 0.875rem;
  font-weight: 500;
  width: 9.125rem;
  height: 1.875rem;
  z-index: 2;
}

.slidervalueLabel1 {
  border-radius: 100px;
  overflow: hidden;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.button,
.slider {
  position: absolute;
}
.slider {
  top: 28.063rem;
  left: 2.875rem;
  width: 9.125rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 2;
  text-align: center;
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.6);
}
.button {
  top: 36.375rem;
  left: 3rem;
  cursor: pointer;
  z-index: 1;
}
.frameChild {
  position: absolute;
  top: 0;
  left: 35.313rem;
  border-right: 1px solid #000;
  box-sizing: border-box;
  width: 0.063rem;
  height: 35.438rem;
  z-index: 2;
}

.toneOfSummary{
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 27rem;
  left: 57.5%;
  width: 50%;
  flex-wrap: wrap;
  max-width: 100%;
  row-gap: 20px;
  z-index: 1;
}
  .paperParent{
    height: 76.375rem;
    width: 36rem;
  }

  .summaryinputfield{
    width: 28.625rem;


  }

  .dropbox{
    left: 9rem;

  }


  .summaryoutputfield {
    top: 43.375rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: 3rem;
    width: 28.625rem;
    flex-wrap: wrap;
    max-width: 100%;
    row-gap: 20px;
  }
}