

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    max-width: 800px;
    margin: 2em auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2, h3 {
    color: #333;
}

#output, #summaryOutput {
    width: 100%;
    min-height: 150px;
    max-height: 300px; 
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    overflow-y: auto; 
    resize: vertical; 
}

#output[readonly], #summaryOutput[readonly] {
    background-color: #f9f9f9;
}




input[type="file"] {
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
}

button:hover {
    background-color: #4cae4c;
}

.customization-container {
    text-align: left;
    margin-top: 20px;
}

.customization-container label {
    margin-right: 10px;
    display: block;
    margin-top: 10px;
}

.customization-container input[type="number"],
.customization-container select,
.customization-container input[type="checkbox"] {
    margin-top: 5px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.customization-container select {
    width: 100%;
    box-sizing: border-box;
}

.customization-container input[type="checkbox"] {
    transform: scale(1.2);
}

.summary-container {
    margin-top: 20px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

/* Audio Player Container styles */
#audioPlayerContainer {
    margin-top: 10px;
}

/* Audio controls styles */
#audioPlayerContainer button {
    padding: 5px 15px;
    cursor: pointer;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    margin-right: 5px;
}

#audioPlayerContainer button:hover {
    background-color: #2980b9;
}

/* Style for the native audio player */
audio {
    width: 100%; /* Make the audio player fit the container */
    margin-top: 10px;
}